<footer class="footer navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-xs-4 text-white justify-content-center copyright">
        <p class="copyright">{{currentYear}} Faruk Kardaş</p>
      </div>
      <div class="col-md-6 col-xs-4 ">
        <div class="brands text-end">
          <a class="btn  btn-outline-light btn-floating m-1" href="#!" role="button"><i
              class="fa-brands fa-facebook"></i></a>
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
              class="fa-brands fa-twitter-square"></i></a>

          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
              class="fa-brands fa-google"></i></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
              class="fa-brands fa-instagram"></i></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
              class="fa-brands fa-linkedin"></i></a>

          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
              class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>