<body>
    <div class="container p-2">
        
        <div class="row first p-5">
            <div class="col-md-6 col-md-4 text-center justify-content-center">
                <img class="img-fluid" src="assets/img/development.png" alt="developer">
            </div>
            <div class="col-md-6 col-md-4 text-center justify-content-center">
                <h2 class="title"> Hızlı Çözüm Önerileri</h2>
                <p class="description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."</p>
                <br>

            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row space p-5">
            <div class="col-md-6 col-md-4 text-center justify-content-center">
                <h2 class="title"> Güçlü Teknik Altyapı</h2>
                <p class="description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
            <div class="col-md-6 col-md-4 text-center justify-content-center">
                <img class="img-fluid" src="assets/img/altyapi.png" alt="developer">
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row space p-5">
            <div class="col-md-6 col-md-4 text-center justify-content-center">
                <img class="img-fluid" src="assets/img/cloud.jpeg" alt="developer">
            </div>
            <div class="col-md-6 col-md-4 text-center justify-content-center">
                <h2 class="title">Altyapınızı Buluta Taşıyalım</h2>
                <p class="description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row space p-5">
            <div class="col-md-6 col-md-4 text-center justify-content-center">
                <h2 class="title">İşletmenize Dijital Dönüşüm Sağlayalım</h2>
                <p class="description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
            <div class="col-md-6 col-md-4 text-center justify-content-center">
                <img class="img-fluid" src="assets/img/donusum.png" alt="developer">
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row p-5">
            <button class="contact-button" color="primary" routerLink="contact" mat-raised-button>Bizimle İletişime Geçin</button>
        </div>
    </div>
</body>