<body>
    <div class="container p-5">
        <div class="row">
            <div class="col-xs-12 col-md-12 text-center justify-content-center">
                <h2 class="title">
                    <img class="img-fluid" src="assets/img/arge.png" alt="developer">
                    <mat-divider class="p-3 mt-5"></mat-divider>
                    ARGE Danışmanlık Hizmeti
                </h2>
            </div>
        </div>
        <p class="text-center  text-dark description-top pb-5 pt-2"><i class="fa-solid fa-gem"></i> Günümüzde her
            işletme gerekli yatırımlar sayesinde hemen her şeyi üretebilir hale geldi. Ancak rekabet ortamında ürünlerin
            müşteri gözünde farklılaşması ve tercih edilir hale gelmesi için diğerlerinden daha üstün özelliklere sahip
            olması gerekir. Katma değer olarak adlandırılan bu üstün özellikler ise AR-GE çalışmaları ile ürüne bilgi,
            teknoloji ve emek katarak sağlanabilmektedir. Günümüz rekabet ortamında AR-GE çalışmaları yapmayan veya
            stratejileri içerisinde AR-GE çalışmaları bulunmayan şirketlerin yaşama şansları ve karlılıkları giderek
            azalmaktadır. </p>
            <h3 class="title">Planlarımız</h3>
            <mat-divider class="m-3 p-3"></mat-divider>
        <div class="row">
            <div class="col-sm-6 col-md-3 col-xs-2 mt-3">
                <div class="card">
                    <div class="card-img-top personel border img-fluid">
                        <p class="sub-title p-2 text-center">Personal<i class="fa-solid m-2 fa-user"></i></p>
                        <p class="h1 p-3 mt-5 text-white  text-center"> 99$ <span class="h6 text-white">/mo </span> </p>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center text-dark description">Paket: AR-ECO</h2>
                        <h2 class="card-title text-center text-dark description">Giriş seviye için ekonomik paket</h2>
                        <mat-divider class="m-2 p-2"></mat-divider>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Küçük işlemetler için Arge planlaması</span>
                        </p>
                        <p class="card-text ">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Proje Hibe ve Kredi Kaynakları Araştırılması Konusunda Yardım </span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/redmark.png">
                            <span class="h6 text-danger description m-2">7/24 Destek İmkanı</span>
                        </p>
                        <div class="row justify-content-center">
                            <button mat-raised-button class="submit buy-button" color="primary">Hemen Satın Al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-2 mt-3">
                <div class="card">
                    <div class="card-img-top professional border img-fluid">
                        <p class="sub-title p-2 text-center">Professional <i class="fa-solid fa-user-tie"></i></p>
                        <p class="h1 p-3 mt-5 text-white  text-center"> 199$ <span class="h6 text-white">/mo </span>
                        </p>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center text-dark description">Paket: AR-PRO</h2>
                        <h2 class="card-title text-center text-dark description">Profesyoneller için uygun paket</h2>
                        <mat-divider class="m-2 p-2"></mat-divider>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Küçük-Orta işlemetler için Arge planlaması</span>
                        </p>
                        <p class="card-text ">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Proje Hibe ve Kredi Kaynakları Araştırılması Konusunda Yardım </span>
                        </p>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">AR-GE Projesi Teknik Toplantılarına Öncülük
                                </span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/redmark.png">
                            <span class="h6 text-danger description m-2">7/24 Destek İmkanı</span>
                        </p>
                        <div class="row justify-content-center">
                            <button mat-raised-button class="submit buy-button" color="primary">Hemen Satın Al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-2 mt-3">
                <div class="card">
                    <div class="card-img-top startup border img-fluid">
                        <p class="sub-title p-2 text-center">Team & Startup <i class="fa-solid fa-people-group"></i></p>
                        <p class="h1 p-3 mt-5 text-white  text-center"> Flexible <span class="h6 text-white">/mo </span>
                        </p>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center text-dark description">Paket: AR-TEAM</h2>
                        <h2 class="card-title text-center text-dark description">Startup ve orta ölçekli takımlar için
                            paket</h2>
                        <mat-divider class="m-2 p-2"></mat-divider>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Küçük-Orta işlemetler için Arge planlaması</span>
                        </p>
                        <p class="card-text ">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Proje Hibe ve Kredi Kaynakları Araştırılması Konusunda Yardım </span>
                        </p>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">AR-GE Projesi Teknik Toplantılarına Öncülük
                                </span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Projeyi TÜBİTAK çerçevesine uygun hale gelecek biçimde olgunlaştırma</span>
                        </p>

                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">CV’lerin projeye uygunluk durumuna ve uzmanlık alanlarına göre proje ekibinin belirlenmesi</span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/redmark.png">
                            <span class="h6 text-danger description m-2">Proje Değerlendirme ve Proje Kabul Sonrası Sürecinin Yönetilmesi</span>
                        </p>
                        <div class="row justify-content-center text-center">
                            <button mat-raised-button class="submit buy-button" color="primary">Hemen Satın Al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-2 mt-3">
                <div class="card">
                    <div class="card-img-top  enterprise border img-fluid">
                        <p class="sub-title p-2 text-center">Enterprise <i class="fa-solid fa-building"></i></p>
                        <p class="h1 p-3 mt-5 text-white  text-center"> Flexible <span class="h6 text-white">/mo </span>
                        </p>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center text-dark description">Paket: AR-ENT</h2>
                        <h2 class="card-title text-center text-dark description">Büyük kuruluş ve işlemetler için full
                            esnek paket</h2>
                        <mat-divider class="m-2 p-2"></mat-divider>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Küçük-Orta işlemetler için Arge planlaması</span>
                        </p>
                        <p class="card-text ">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Proje Hibe ve Kredi Kaynakları Araştırılması Konusunda Yardım </span>
                        </p>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">AR-GE Projesi Teknik Toplantılarına Öncülük
                                </span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Projeyi TÜBİTAK çerçevesine uygun hale gelecek biçimde olgunlaştırma</span>
                        </p>

                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">CV’lerin projeye uygunluk durumuna ve uzmanlık alanlarına göre proje ekibinin belirlenmesi</span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Proje Değerlendirme ve Proje Kabul Sonrası Sürecinin Yönetilmesi</span>
                        </p>
                        <div class="row justify-content-center text-center">
                            <button mat-raised-button class="submit buy-button" color="primary">İletişime Geç</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</body>