<body>
    <div class="container p-5">
        <div class="row">
            <div class="col-xs-12 col-md-12 text-center justify-content-center">
                <h2 class="title">
                    <img class="img-fluid" src="assets/img/human-resources.png" alt="human-resources">
                    <mat-divider class="p-3 mt-5"></mat-divider>
                    İnsan Kaynakları ve Yatırım Danışmanlığı
                </h2>
            </div>
        </div>
        <p class="text-center  text-dark description-top pb-5 pt-2"><i class="fa-solid fa-gem"></i> Alloria olarak yıllara dayalı bilgi ve tecrübemiz ile gelişmiş
            detaylı analiz metodolojimiz ile çalışan memnuniyeti
            ölçümleyerek, işletmelerin çalışanların kuruma bağlılığını artıracak aksiyonları zamanında almasını
            sağlayacak planlamalara destek veriyoruz. finansman yaratma ve değerleme konularını içeren geniş kapsamlı
            finansal danışmanlık hizmetleri sunmaktayız. Doğru tasarlanmış ve etkin bir şekilde uygulanan işlemlerle
            müşterilerimize özel ve katma değerli çözümler sunmaktayız. </p>
            <h3 class="title">Planlarımız</h3>
            <mat-divider class="m-3 p-3"></mat-divider>
        <div class="row">
            <div class="col-sm-6 col-md-3 col-xs-2">
                <div class="card">
                    <div class="card-img-top personel border img-fluid">
                        <p class="sub-title p-2 text-center">Personal<i class="fa-solid m-2 fa-user"></i></p>
                        <p class="h1 p-3 mt-5 text-white  text-center"> 29$ <span class="h6 text-white">/mo </span> </p>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center text-dark description">Paket: HR-ECO</h2>
                        <h2 class="card-title text-center text-dark description">Giriş seviye için ekonomik paket</h2>
                        <mat-divider class="m-2 p-2"></mat-divider>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Özel 1 adet danışman</span>
                        </p>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Mesai saatlerinde hizmet</span>

                        </p>
                        <p class="card-text ">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/redmark.png">
                            <span class="h6 text-danger description m-2">Ücretsiz finansman yönetimi desteği</span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/redmark.png">
                            <span class="h6 text-danger description m-2">7/24 Destek İmkanı</span>
                        </p>
                        <div class="row justify-content-center">
                            <button mat-raised-button class="submit buy-button" color="primary">Hemen Satın Al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-2">
                <div class="card">
                    <div class="card-img-top professional border img-fluid">
                        <p class="sub-title p-2 text-center">Professional <i class="fa-solid fa-user-tie"></i></p>
                        <p class="h1 p-3 mt-5 text-white  text-center"> 49$ <span class="h6 text-white">/mo </span> </p>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center text-dark description">Paket: HR-PRO</h2>
                        <h2 class="card-title text-center text-dark description">Giriş seviye için ekonomik paket</h2>
                        <mat-divider class="m-2 p-2"></mat-divider>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Özel 1 adet danışman</span>
                        </p>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Mesai saatlerinde hizmet</span>

                        </p>
                        <p class="card-text ">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Ücretsiz finansman yönetimi desteği</span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/redmark.png">
                            <span class="h6 text-danger description m-2">7/24 Destek İmkanı</span>
                        </p>
                        <div class="row justify-content-center">
                            <button mat-raised-button class="submit buy-button" color="primary">Hemen Satın Al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <div class="card">
                    <div class="card-img-top startup border img-fluid">
                        <p class="sub-title p-2 text-center">Team & Startup <i class="fa-solid fa-people-group"></i></p>
                        <p class="h1 p-3 mt-5 text-white  text-center"> 99$ <span class="h6 text-white">/mo </span> </p>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center text-dark description">Paket: HR-TEAM</h2>
                        <h2 class="card-title text-center text-dark description">Giriş seviye için ekonomik paket</h2>
                        <mat-divider class="m-2 p-2"></mat-divider>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Özel 2 adet danışman</span>
                        </p>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Mesai saatlerinde hizmet</span>

                        </p>
                        <p class="card-text ">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Ücretsiz finansman yönetimi desteği</span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">7/24 Destek İmkanı</span>
                        </p>

                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Proje odaklı çözümler</span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/redmark.png">
                            <span class="h6 text-danger description m-2">Yatırım önerileri</span>
                        </p>
                        <div class="row justify-content-center text-center">
                            <button mat-raised-button class="submit buy-button" color="primary">Hemen Satın Al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-2">
                <div class="card">
                    <div class="card-img-top  enterprise border img-fluid">
                        <p class="sub-title p-2 text-center">Enterprise <i class="fa-solid fa-building"></i></p>
                        <p class="h1 p-3 mt-5 text-white  text-center"> 199$ <span class="h6 text-white">/mo </span>
                        </p>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center text-dark description">Paket: HR-ENT</h2>
                        <h2 class="card-title text-center text-dark description">Giriş seviye için ekonomik paket</h2>
                        <mat-divider class="m-2 p-2"></mat-divider>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Özel 3 adet danışman</span>
                        </p>
                        <p class="card-text">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Mesai saatlerinde hizmet</span>

                        </p>
                        <p class="card-text ">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Ücretsiz finansman yönetimi desteği</span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">7/24 Destek İmkanı</span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Şirket odaklı çözümler</span>
                        </p>
                        <p class="card-text mb-3">
                            <img class="img-fluid" style="width: 32px;" src="assets/img/greencheckmark.png">
                            <span class="h6 text-success description m-2">Yatırım önerileri</span>
                        </p>
                        <div class="row justify-content-center text-center">
                            <button mat-raised-button class="submit buy-button" color="primary">İletişime Geç</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</body>