<body>
    <div class="container p-5">
        <h2 class="title">Aktif Çalışma Ekiplerimiz</h2>
        <div class="row mt-5 first-box  justify-content-center">
            <div class="col-md-6 col-xs-4">
                <img src="assets/img/human1.png" class="img-fluid p-5">
            </div>
            <div class="col-md-6 col-xs-4">
                <h2 class="sub-title p-3">İnsan Kaynakları Danışmanlık Hizmeti</h2>
                <p class="description text-center">"Alloria olarak; kurumsal müşterilerimizin, insana dair tüm
                    ihtiyaçlarına profesyonel
                    çözümler üretiyoruz." </p>
                <p class="mt-5 detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    İşe Alım Çözümleri</p>
                <p class="mt-3 detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    Yabancı Personel İşlemleri</p>
                <p class="mt-3 detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    Global Mobilite
                </p>
                <p class="mt-3 detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    Özel Çözümler
                </p>
                <div class="row p-5 justify-content-center">
                    <button mat-raised-button class="contact-button" routerLink="/contact">Bizimle İletişime
                        Geçin</button>
                </div>
            </div>
        </div>
        <mat-divider class="m-5"></mat-divider>
        <div class="row mt-5 first-box  justify-content-center">
            <div class="col-md-6 col-xs-4">
                <h2 class="sub-title p-3">Sizin için Yazılım Geliştirelim</h2>
                <p class="description text-center">"Alloria olarak; kurumsal müşterilerimizin, insana dair tüm
                    bütün profesyonel yazılım tedarik konusunda ve dijital dönüşüm konusunda yardımcı oluyoruz." </p>
                <p class="mt-5  detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    Yeni e-ticaret fikirleriyle, farklı platformlarda satışlarınıza yardımcı olabiliriz.</p>
                <p class="mt-3 detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    Ürün ya da hizmetleriniz için mobil uygulamalar geliştirebiliriz.</p>
                <p class="mt-3  detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    Kullanıcı deneyimini kolaylaştıran back end develop çalışmaları yapabiliriz.
                </p>
                <p class="mt-3 detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    Yazılım geliştirmeyle firmanıza, UX ve UI konusunda yardım sağlayabiliriz.
                </p>
                <div class="row p-5 justify-content-center">
                    <button mat-raised-button class="contact-button" routerLink="/contact">Bizimle İletişime
                        Geçin</button>
                </div>
            </div>
            <div class="col-md-6 col-xs-4">
                <img src="assets/img/human3.png" class="img-fluid p-5">
            </div>
        </div>
        <mat-divider class="m-5"></mat-divider>
        <div class="row mt-5 first-box  justify-content-center">
            <div class="col-md-6 col-xs-4">
                <img src="assets/img/human2.png" class="img-fluid p-5">
            </div>
            <div class="col-md-6 col-xs-4">
                <h2 class="sub-title p-3">ARGE Danışmanlık Hizmeti</h2>
                <p class="description text-center">"Ar-Ge ve tasarım faaliyetlerine sağlanan destek ve
                    teşvik mekanizmaları konusunda uzmanlardan, Ar-Ge/tasarım mühendislerinden ve vergi danışmanlarından
                    oluşan geniş kadrosuyla Ar-Ge ekibimiz, ulusal ve uluslararası alanda Ar-Ge ve tasarım
                    faaliyetlerine sağlanan destek ve teşvik mekanizmalarına yönelik tüm süreçlerde şirketlerin
                    ihtiyaçlarına cevap vererek destek olmaktadır." </p>
                <p class="mt-5 detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    Şirketlerin faaliyetlerinin incelenmesi suretiyle yararlanılabilecek teşvik ve destek programlarının
                    belirlenmesi.
                </p>
                <p class="mt-3 detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    Destek ve teşvik mekanizmalarına yönelik başvuru aşamalarında danışmanlık sağlanması.
                <p class="mt-3 detail"><img class="img-fluid m-2" style="height: 30px;" src="assets/img/checkmark.png">
                    Faydalanılan destek ve teşvik programlarının isterlerinin yerine getirilmesi, dönemsel raporların
                    hazırlanması, teşvik ve destek kalemlerinden yararlanılması süreçlerinde denetim ve danışmanlık
                    hizmetleri sağlanması.
                </p>
                <div class="row p-5 justify-content-center">
                    <button mat-raised-button class="contact-button" routerLink="/contact">Bizimle İletişime
                        Geçin</button>
                </div>
            </div>
        </div>
    </div>
</body>